/UNIDAD 1/00_SOA_SIN_BDD/00. SOAP_JAVA_CONUNI_GR10/02. CLIWEB/CONUNI_CLI_WEB_GR10/target/
/UNIDAD 1/00_SOA_SIN_BDD/00. SOAP_JAVA_CONUNI_GR10/02. CLICON/CONUNI_CLICON_GR10/nbproject/private/
/UNIDAD 1/00_SOA_SIN_BDD/00. SOAP_JAVA_CONUNI_GR10/02. CLICON/CONUNI_CLICON_GR10/build/
/UNIDAD 1/00_SOA_SIN_BDD/00. SOAP_JAVA_CONUNI_GR10/02. CLICON/CONUNI_CLICON_GR10/dist/
/UNIDAD 1/00_SOA_SIN_BDD/002. REST_JAVA_CONUNI_GR10/01. SERVIDOR/CONUNI_REST_GR10/nbproject/private/
/UNIDAD 1/00_SOA_SIN_BDD/002. REST_JAVA_CONUNI_GR10/01. SERVIDOR/CONUNI_REST_GR10/dist/
/UNIDAD 1/00_SOA_SIN_BDD/002. REST_JAVA_CONUNI_GR10/01. SERVIDOR/CONUNI_REST_GR10/build/
/UNIDAD 1/00_SOA_SIN_BDD/002. REST_JAVA_CONUNI_GR10/02. CLICON/CONUNI_CLICON_GR10/nbproject/private/
/UNIDAD 1/00_SOA_SIN_BDD/002. REST_JAVA_CONUNI_GR10/02. CLICON/CONUNI_CLICON_GR10/build/
/UNIDAD 1/00_SOA_SIN_BDD/002. REST_JAVA_CONUNI_GR10/02. CLICON/CONUNI_CLICON_GR10/dist/
/UNIDAD 1/00_SOA_SIN_BDD/002. REST_JAVA_CONUNI_GR10/02. CLIESC/CONUNI_CLIESC_GR10/nbproject/private/
/UNIDAD 1/00_SOA_SIN_BDD/002. REST_JAVA_CONUNI_GR10/02. CLIESC/CONUNI_CLIESC_GR10/build/
/UNIDAD 1/00_SOA_SIN_BDD/002. REST_JAVA_CONUNI_GR10/02. CLIWEB/CONUNI_CLIWEB_GR10/target/
/UNIDAD 1/00_SOA_SIN_BDD/00. SOAP_JAVA_CONUNI_GR10/01. SERVIDOR/CONUNI_GR10/dist/
